// Colors
$white: #FFF;
$black: #000;
$darkGreen: #52B788;
$lightGreen: #D8F3DC;

// Body
$body-bg: #D8F3DC;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;